/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 25 feb. 2023, 19:37:35
    Author     : Usuario
*/
*{
    font-family: sans-serif;
    color: red
}

*{
    background: #cdcfd2
}